main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

}

#wrap {
  width: 60%;
  max-width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#imgDiv{
  display: flex;
  margin-bottom: 20px;
}

#imgDiv div{
  margin-top: 17px;
}

#imgDiv div h1{
  font-size: 25px;
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

input{
  border-radius: 5px;
  width: 350px;
  height: 40px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #ccc;
  
  border-radius: 3px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

textarea {
  width: 100%;
  height: 80%;
  resize: none;
  background-color: #ffffff;
  border: 1px solid #ccc;

  border-radius: 3px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

button {
  display: inline-block;
  background-color: #F0F0F0;
  font-size: 16px;   
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#footer {
  display: flex;
  width: 100%;
  padding: 15px 0;
  border-radius: 5px;
}

#buttonDiv{
  align-items: center;
}

#buttonDiv button:hover{
  background-color: #ddd;
}

#saveButton{
  text-align: right;
}

#saveButton button{ 
  background-color: #f0f0f0;
  color: black;
}

#saveButton button:hover{
  background-color: #4998D1;
  color: white;
}

#footer div{
    width: 40%;
}