main {
    display: grid;
    grid-template-columns: 1.5fr 5fr;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#side-bar {
    background-color: #f0f0f0;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

#side-bar form {
    width: 100%;
}

#side-bar div {
    display: flex;
    align-items: center;
}

#side-bar img {
    margin-right: 8px;
    width: 48px;
}

#side-bar input {
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #3c3c3c;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

#side-bar input:hover {
    background-color: #8cbfe3;
    color: white;
}

#side-bar input[disabled] {
    background-color: #8cbfe3;
    color: white;
    cursor: auto;
}

#letter-list {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#letterTable #deleteTd{
    text-align: right;
}

#letterTable #deleteButton{
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: #F0F0F0;
    padding-left: 5px;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#letterTable #deleteButton:hover {
    background-color: #B53232;
    color: white;
}

#letterTable {
    width: 70%;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

select:nth-child(1){
    width: 12%;
    height: 40px;
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
    text-align: center;
    box-sizing: border-box;
}

#letterTable input[type=text]{
    width: 77%;
    height: 40px;
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
    text-align: left;
    box-sizing: border-box;
}

#letterTable thead input[type=submit]{
    width: 9%;
    height: 40px;
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
    box-sizing: border-box;

}

select{
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#trHead{
    background-color:  #F0F0F0 ;
}


#letterTable tbody tr:hover{
    background-color: #F0F0F0;
}


#letterTable td,
#letterTable th {
    padding: 20px;
}

#writer {
    width: 20%;
}

#content {
    width: 50%;
}

#date {
    width: 30%;
}

#letterTable tbody tr {
    border-bottom: 0.5px solid #B8B8B8;
}

#letterTable tfoot td{
    text-align: center;
}

#letterTable tfoot button{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #F0F0F0;
}

#letterTable tfoot button:hover{
    background-color: #ddd;
}
