main {
    height: 1000px;
    display: grid;
    grid-template-columns: 1.5fr 5fr;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#side-bar {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#side-bar div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#side-bar form{
    width: 100%;
}

#side-bar input {
    border: none;
    background-color: #d9d9d9;
    margin-top: 20px;
    height: 80px;
    width: 40%;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#side-bar img {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

#letter-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteButton{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    background-color: #3c8dbc;

}

#deleteButton:hover {
    background-color: #3c8dbc;
    opacity: 0.9;
  }

table {
    width: 1000px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

table tbody tr:hover{
    background-color: #B8B8B8;
}


td,
th {
    padding: 15px;
}

#writer {
    width: 20%;
}

#content {
    width: 50%;
}

#date {
    width: 30%;
}

tbody tr {
    border-bottom: 0.5px solid #B8B8B8;
}

tfoot td{
    text-align: center;
}

tfoot button{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

tfoot button:hover{
    background-color: #B8B8B8;
}
