main {
    height: 1000px;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

#side-bar {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-bar div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#side-bar button {
    border: none;
    background-color: #d9d9d9;
    margin-top: 20px;
    height: 80px;
    width: 40%;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

#side-bar img {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}