@charset "UTF-8";


.wrap_1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_1 {
	width: 70%;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

.menu_1 * {
	width: 10%;
}

.e112_902 {
	width: 60%;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
}

.e112_909 {
	width: 150px;
	height: 40px;
	background-color: #F0F0F0;
	color: black;
	border-radius: 10px;
	border: none;
	text-align: center;
}

.e112_909:hover {
    background-color: #4998D1;
	color: white;
}

.e112_923 {
	width: 70%;
	text-align: center;
}

.e112_923 thead {
	background-color: #F0F0F0;
}

.e112_923 tbody tr {
	height: 80px;
	border-bottom: 1px solid black;
}


#pageDiv button {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #F0F0F0;
}

#pageDiv button:hover {
	background-color: #ddd;
}

table tbody tr:hover{
    background-color:  #F0F0F0;
}