@charset "UTF-8";

main * {
    font-size: 16px;
    font-family:Noto Sans KR;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-tbl {
    width: 70%;
}

.list-tbl thead {
    background-color: #F0F0F0;
    height: 50px;
    width: 100%;
}

.list-tbl tbody {
    width: 100%;
}

.list-tbl tbody tr {
    border-bottom: 1px solid black;
    height: 70px;
}

.list-tbl td {
    text-align: center;
}

.list-tbl td:last-child {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menubar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e98_1694 {
    font-size: 24px;
    height: 100%;
}

table button {
	width: 80px;
	height: 40px;
	background-color: #F0F0F0;
	color: black;
	border-radius: 10px;
	border: none;
	text-align: center;
}

table button:hover {
    background-color: #4998D1;
	color: white;
}

.wrap_1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_1 {
	width: 70%;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

#pageDiv button {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #F0F0F0;
}

#pageDiv button:hover {
	background-color: #ddd;
}

.last-th {
    width: 280px;
}