@charset "UTF-8";

main * {
    font-size: 18px;
    font-family:Noto Sans KR;
    overflow: auto;
}
.wrap_1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_2 {
	width: 70%;
	display: flex;
	justify-content: center;
}
.menu_3 {
	width: 70%;
	display: flex;
	justify-content: flex-end;
}


.tit {
	font-size: 28px;
    font-weight: bold;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.a02 {
    height: 50px;
    width: 150px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b01 {
    overflow:auto;
    border: 5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    box-sizing: border-box;
    width: 70%;
    margin-top: 25px;
    height: 540px;
}

.bb01 {
    height: 180px;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: border-box;
    border-bottom: 5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bb01 > div {
    margin-top: 10px;
}

.bbb01 {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.chk-box {
    width: 32px;
    height: 32px;
    
}

#pageDiv button {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #F0F0F0;
}

#pageDiv button:hover {
	background-color: #ddd;
}

.btn {
	width: 25%;
    display: flex;
    justify-content: space-between;
}

.btn button {
	width: 80px;
	height: 40px;
	background-color: #F0F0F0;
	color: black;
	border-radius: 10px;
	border: none;
	text-align: center;
 }
 
.btn button:hover {
	 background-color: #4998D1;
	 color: white;
 }