@charset "UTF-8";

main * {
    font-size: 16px;
    font-family:Noto Sans KR;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-tbl {
    width: 70%;
}

.list-tbl thead {
    background-color: #F0F0F0;
    height: 50px;
    width: 100%;
}

.list-tbl tbody {
    width: 100%;
}


.list-tbl tbody tr {
    border-bottom: 1px solid black;
    height: 70px;
}

.list-tbl td {
    text-align: center;
}

.list-tbl th:last-child {
    width: 20%;
}
.list-tbl th:first-child {
    width: 10%;
}


.list-tbl td:last-child {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e98_1694 {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish * {
    width: 100%;
    height: 100%;
}

.finish-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

table input {
	width: 80px;
	height: 40px;
	background-color: #F0F0F0;
	color: black;
	border-radius: 10px;
	border: none;
	text-align: center;
}

.list-tbl input:hover {
    background-color: #4998D1;
	color: white;
}