@charset "UTF-8";

main {
    position: relative;
    left: 15%;
    width: 70%;
}

main * {
    font-size: 18px;
    font-family:Noto Sans KR;
}

.tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.tit1 {
    font-size: 28px;
    
}

.tit2 {
    font-size: 18px;
}

.score {
    color: rgb(255, 0, 0);
}

.problem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hi {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.problem textarea {
    height: 100%;
    margin-left: 20px;
    width: 100%;
}

.finish {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    height: 100%;
    border-radius: 40px;
}

.scoreInput {
	width: 10%;
	height: 40px;
	background-color: #F0F0F0;
	color: black;
	border-radius: 10px;
	border: none;
	text-align: center;
}

.scoreInput:hover {
    background-color: #4998D1;
    color: white;
}
.scoreInput:hover::placeholder {
    color: white;
}
