@charset "UTF-8";
body{
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
}
.wrap{
	width: 900px;
	height: 1100px;
	background: rgba(255,255,255,1);
	border-radius: 64px;
	margin: auto;
	text-align: center;
	border: 5px solid rgba(234,234,234,1);
}
.logo{
	position: relative;
	width: 299px;
	height: 70px;
	background: url("/semi/static/img/main/v61_19.png");
	left: 285px;
	top: 100px;
}
.t01{
	 font-family: Spoqa Han Sans Neo;
 	 font-weight: Medium;
 	 font-size: 24px;
	 color: rgba(103,103,103,1);
	 position: relative;
	 top: 150px;
}
.a01{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 300px;
  left: 90px;
  text-decoration: none;
}
.a03{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 300px;
  left: 90px;
  text-decoration: none;
}
.a05{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 300px;
  left: 90px;
  text-decoration: none;
}
.a02{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 500px;
  text-decoration: none;
}
.a04{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 500px;
  text-decoration: none;
}
.a06{
  width: 300px;
  height: 100px;
  background: rgba(91,126,217,1);
  color: white;
  opacity: 1;
  font-size:50px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 200px;
  left: 500px;
  text-decoration: none;
}
