body {
    font-size: 16px;
    font-family: 'Spoqa Han Sans Neo';
}

main {
    width: 80%;
    margin: auto;
}

#target {
    margin-top: 30px;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input[type=checkbox]{
    width: 15px;
    height: 15px;
}

#content>div {
    flex-basis: 14%;
    text-align: center;
}

#content>div:first-child {
    flex-basis: 5%;
    text-align: center;
}

#content>div>input[type="checkbox"] {
    margin: auto;
}

#content:last-child {
    border-bottom: none;
}

#buttonDiv{
    text-align: right;
}

#buttonDiv button{
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: #F0F0F0;
    padding-left: 5px;
    color: black;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

#approval{
    background-color: #4998D1;
    border-radius: 29.5px;
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

#refuse{
    border: none;
    border-radius: 29.5px;
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

#approval:hover{
    background-color: #4998D1;
}

#pageDiv{
    text-align: center;
}

#pageDiv button{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#pageDiv button:hover{
    background-color: #ddd;
}

div{
    font-size: 18px;
}