*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: #000;
  }

  ul, li{
    list-style: none;
  }

main{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    height: auto;
}

.myClass{
    width: 1130px;
    margin: 0 auto;
}

.myClass ul li{
    margin-bottom: 5px;
}

.myClass ul li.boardCategoryName{
    font-size: 25px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    color: #414141;
    text-align: center;
    margin-bottom: 80px;
}

.myClass ul li.class{
    font-size: 17px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    color: #414141;
    text-align: center;
}

.myClass ul li.classRoom{
    font-size: 15px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    color: #979797;
    text-align: center;
    margin-bottom: 50px;
}

/* 상단 끝 */


/* 버튼 구간 */

.board_bt{
    width: 1130px;
    height: 50px;
    margin: 0 auto;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}


/* 
.bt1{
    background-color: #e0e7f0;
    color: #3d3d3d;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: normal;
    font-size: 13px;
    padding: 8px 15px 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;

    margin-left: 10px;
} */

.bt1{
    background-color: #F0F0F0;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: normal;
    font-size: 13px;
    padding: 8px 15px 6px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-left: 5px;

    cursor: pointer;
}

.bt1:hover{
    background-color: #4998D1;
    color: white;
}

.view_btn input[type=button]:hover{
    background-color: #B53232;
    color: white;
}

hr{
    width: 1130px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.write_wrap{
    width: 1130px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px 500px 60px;
    gap: 10px;
}

.write_wrap input{
    display: block;
    padding: 10px 10px 10px;
}

.write_wrap textarea{
    grid-column: 1/3;
    display: block;
    padding: 10px 10px 10px;
    resize: none;
}

.write_wrap select{
    background-color: #f0f4f8;
    display: block;
    padding: 10px 10px 10px;
}

.view_btn{
    width: 1130px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: end;
    margin-bottom: 40px;
}

/* .view_btn input{
    background-color: #b8bfc5;
    color: #3d3d3d;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-size: 13px;
    padding: 8px 15px 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    margin-right: 5px;
} */

.view_btn a{
    background-color: #c0c0c0;
    color: #3d3d3d;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    font-size: 13px;
    padding: 8px 15px 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
    margin-right: 5px;
}

/* 보드 */

table{
    border-spacing: 0;
    border-collapse: initial;
}

.board_view{
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid black;
}


.board_view th{
    font-size: 15px;
    height: 50px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: normal;
    background-color: #f2f5f9;
    border-bottom: 1px solid #5e5e5e4b; 
}

.board_view td{
    border-bottom: 1px solid #5e5e5e4b;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-size: 15px;
    height: 45px;
    text-align: left;
    color: #424242;
    padding: 10px 10px 10px;
}


/* 답변 보드 */

.qna_answer{
    width: 1130px;
    margin: 0 auto;
    border-top: 1px solid rgb(170, 170, 170);
    margin-top: 60px;
}

.qna_answer th{
    font-size: 15px;
    height: 50px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: normal;
    background-color: #f2f5f9;
    border-bottom: 1px solid #5e5e5e4b; 
}

.qna_answer td{
    border-bottom: 1px solid #5e5e5e4b;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-size: 15px;
    height: 45px;
    text-align: left;
    color: #424242;
    padding: 10px 10px 10px;
}


/* 댓글 */

.write_comment{
    width: 1130px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.1fr;
    column-gap: 25px;
    text-align: center;
    align-items: center;
    margin-top: 50px;

    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-size: 15px;
}

.write_comment textarea{
    display: block;
    padding: 10px 10px 10px;
    border: 1px solid #b8bfc5;
    border-radius: 10px;
}

.write_comment input{
    background-color: #e0e7f0;
    color: #3d3d3d;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: normal;
    font-size: 13px;
    padding: 8px 15px 6px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}
.comment_list{
    width: 1130px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-size: 13px;
    color: #414141;
}

.comment_list .comment_col{
    display: grid;
    grid-template-columns: 70px 700px 50px 50px 50px 150px;
    column-gap: 5px;
    border-top: 1px solid #cccccc79;
    justify-content: center;
    align-items: first baseline;
    padding: 10px 10px 10px;
    color: #424242;
}

.comment_list .comment_col input, .comment_list .recomment input{
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
    border-radius: 5px;

    font-size: 12px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    color: #3d3d3d;
}

.comment_list .comment_col .time, .comment_list .recomment .time{
    font-size: 11px;
    color: #979797;
    font-size: 12px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    margin-left: 5px;
}

.comment_list .recomment{
    display: grid;
    grid-template-columns: 50px 70px 500px 50px 50px 150px;
    column-gap: 5px;
    justify-content: center;
    align-items: first baseline;
    padding: 10px 10px 10px;
    color: #424242;
    margin-left: 50px;
}

.comment_list .recomment input{
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
    border-radius: 5px;

    font-size: 12px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    color: #3d3d3d;
}

.comment_list .recomment_write{
    margin-top: 5px;
    width: 1005px;
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr 0.5fr;
    column-gap: 5px;

    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px;
    color: #424242;
    margin-left: 80px;
    margin-bottom: 5px;
}

.comment_list .recomment_write input{
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
}

.comment_list .recomment_write input[type=text]{
    display: block;
    padding: 4px 4px 4x;
}

.comment_list .recomment_write span{
    background-color: #e0e7f0;
    color: #3d3d3d;
    text-align: center;
}


.answer_title{
    font-size: 25px;
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    color: #414141;
    text-align: center;
    margin-top: 50px;
}

/* 상단고정 */
.checked{
    width: 1130px;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 8px;
}

.checked span{
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    font-size: 15px;
    margin-left: 5px;
}