main * {
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
}

.wrap_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#master_img {
    width: 25%;
    height: width;
    border-radius: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.e112 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.e112_188 {
    color: rgba(0, 0, 0, 1);
    font-family: Spoqa Han Sans Neo;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
}

hr{
    width: 70%;
    margin-left: 15%;
}

.explain1 {
    width: 45%;
}

#sign_img {
    width: 70%;
}

#sign_img2 {
    width: 20%;
}

.hiih {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.afda {
    display: flex;
    justify-content: right;
    align-items: baseline;
}

.ababc {
    width: 150%;
    font-size: 20px;
    text-align: center;
}