@charset "UTF-8";

.wrap_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.menu_2 {
    width: 70%;
    display: flex;
    justify-content: center;
}

.e112 {
    flex: 1;
    max-width: 25%;
    height: 70px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    font-family: Spoqa Han Sans Neo;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.e112:hover {
    color: white;
    background-color: rgba(104.70051661133766, 176.69292032718658, 228.4374949336052, 1);
}

img {
    width: 100%;
}