@charset "UTF-8";

main * {
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
}

.wrap_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigMenu {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.bigMenu2 {
    width: 70%;
    display: flex;
    justify-content: center;
}

.menu_1 {
    width: 45%;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.profile_img {
	width: 100%;
    margin-bottom: 10px;
	border-radius: 90%;
	background-repeat: no-repeat;
	background-size: cover;
}

.pfl {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro_div {
    width: 70%;
}

#pageDiv button{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #F0F0F0;
}

#pageDiv button:hover{
    background-color: #ddd;
}
