@charset "UTF-8";

.table01{
    margin: auto;
    width: 100%;
    height: 800px;
}
.td01{
	width: 400px;
    height: 400px;
    padding: 20px;
}
.plus01{
	text-align: right;
	border-collapse: collapse;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 5px solid gray;
}
.plus02{
	text-align: right;
	border-collapse: collapse;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
}
.board{
	padding: 40px;
    height: 400px;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile{
    height: 100%;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.date{
    height: 450px;
    background: rgba(255,255,255,1);
}
.calendar{
	border: 2px solid rgba(202,202,202,1); 
	height: 700px;
	position: relative;
	bottom: 110px;
}
.todo{
    height: 100%;
    background: rgba(255,255,255,1);
    border: 2px solid rgba(202,202,202,1);
    padding: 20px;
}
.todos{
    height: 100%;
    background: rgba(255,255,255,1);
	width: 200px;
}
.team{
    height: 100%;
    background: rgba(255,255,255,1);
    border: 2px solid rgba(202,202,202,1);
}
.boardtd{
	width: 1000px;
}
.innertable01{
	padding: 20px;
    width: 100%;
    height: 100%;
}
.line00{
    border-collapse: collapse;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 5px solid gray;
}
.line01{
    font-size: 25px;
    padding: 25px;
}

.table02{
    width: 100%;
    height: 300px;
}
.td02{
    padding: 60px;
}
.th02{
	position: relative;
	top: 60px;
	font-size: 20px;
	font: bold;
}
.classdate{
    height: 100%;
    background: rgba(217,217,217,1);
}
.datedetail{
    height: 100%;
    background: rgba(217,217,217,1);
}
.innerprofile{
	height: 400px;
    position: relative;
    padding: 20px;
}
.photo01{
	display: flex;
    position: relative;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    overflow: hidden;
    top: 25px; 
    left: 50px;
}
.identity{
	font-size: 25px;
	font-weight: bold;
    position: relative;
    width: 300px;
    height: 50px;
    left: 225px;
    bottom: 75px;
    font-family: Noto Sans;
}
.class01{
    position: relative;
    width: 500px;
    height: 50px;
    left: 225px;
    bottom: 90px;
    font-family: Noto Sans;
}
.change{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 35px;
    position: relative;
    width: 106px;
    height: 37px;
    left: 60px;
    bottom: 65px;
    border:1px solid gray; 
    font-family: Noto Sans;
}
.letter{
	font-size: 20px;
	font-family: Noto Sans;
    position: relative;
    width: 150px;
    height: 50px;
    left: 225px;
    bottom: 115px;
}
.mywrite{
	font-size: 20px;
	font-family: Noto Sans;
    position: relative;
    width: 150px;
    height: 50px;
    left: 425px;
    bottom: 165px;
}
.point{
	font-size: 20px;
	font-family: Noto Sans;
    position: relative;
    width: 100px;
    height: 50px;
    left: 225px;
    bottom: 155px;
}
.vacations{
	font-size: 20px;
	font-family: Noto Sans;
    position: relative;
    width: 100px;
    height: 50px;
    left: 425px;
    bottom: 205px;
}
.test{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 160px;
    height: 40px;
    left: 75px;
    bottom: 185px;
    border-radius: 35px;
    background: rgba(217,217,217,1);
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.vacation{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 160px;
    height: 40px;
    left: 375px;
    bottom: 225px;
    border-radius: 35px;
    background: rgba(245,190,107,1);
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.exit{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 160px;
    height: 40px;
    left: 375px;
    bottom: 240px;
    border-radius: 35px;
    background: green;
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.checkin{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 160px;
    height: 40px;
    bottom: 200px;
    left: 75px;
    border-radius: 35px;
    background: rgba(32,103,167,1);
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.innertable02{
	height: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.td02{
	padding: 25px;
	text-align: center;
	font-size: 25px;
	
}
.th02{
	bottom: 100px;
	position: relative;
	font-size: 30px;
    padding: 40px;
}
.table03{
    width: 100%;
    height: 450px;
}
.td03{
    padding: 30px;
}
.innertable03{
	width: 100%;
	height: 100%;
}
.detail01{
	padding: 40px;
    height: 85%;
    background-color: rgba(248,248,248,1);
    border-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.detail02{
	height: 85%;
	padding: 40px;
    background-color: rgba(248,248,248,1);
    border-radius: 23px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tr030{
	font-size: 35px;
	font-weight: bold;
	font-family: Noto Sans;
	border-bottom: 5px solid gray;
}
.tr03{
	padding: 15px;
	border-collapse: collapse;
	width: 100%;
	font-size: 25px;
	font-family: Noto Sans;
}
.td030{
	height: 50px;
}
.line02{
	padding: 25px;
	text-align: center;
	height: 50px;
}
.vac{
	padding: 10px;
	color: rgba(255,255,255,1);
	background: rgba(41,54,171,1);
	border-radius: 5px;
}
.enter{
	padding: 10px;
	color: rgba(255,255,255,1);
	background: rgb(80, 197, 96);
	border-radius: 5px;
}
.done{
	padding: 10px;
	color: rgba(255,255,255,1);
	background: rgba(136,136,136,1);
	border-radius: 5px;
}
.logout{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 120px;
    height: 30px;
	left: 425px;
	top: 25px;
    border-radius: 35px;
    background: rgba(217,217,217,1);
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.a01{
	color: white;
}
.teamlisttitle{
	font-size: 40px;
	font-weight: bold;
}
.list03{
	font-size: 30px;
	padding: 15px;
}
.teamdiv{
	width: 100%;
	height: 700px;
}
.teamdiv::-webkit-scrollbar {
    width: 10px;
 }
.teamdiv::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.teamdiv::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.list02{
	font-size: 20px;
	font-weight: bold;
}
.detail02::-webkit-scrollbar {
    width: 10px;
 }
.detail02::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.detail02::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.detail01::-webkit-scrollbar {
    width: 10px;
 }
.detail01::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.detail01::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.todo::-webkit-scrollbar {
    width: 10px;
 }
.todo::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.todo::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.calendar::-webkit-scrollbar {
    width: 10px;
 }
.calendar::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.calendar::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

