@charset "UTF-8";

.table01{
    margin: auto;
    width: 100%;
    height: 800px;
}
.td01{
	width: 1220px;
    height: 400px;
    padding: 20px;
}
.td07{
	width: 30%;
}
.td08{
	width: 30%;
}
.td09{
	width: 40%;
}
.plus01{
	text-align: right;
	border-collapse: collapse;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 5px solid gray;
}
.plus02{
	text-align: right;
	border-collapse: collapse;
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 20px;
}
.board{
	padding: 40px;
    height: 400px;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile{
    height: 100%;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.date{
    height: 100%;
    background: rgba(255,255,255,1);
    border: 2px solid rgba(202,202,202,1);
}
.todo{
    height: 100%;
    background: rgba(255,255,255,1);
    border: 2px solid rgba(202,202,202,1);
}
.team{
    height: 100%;
    background: rgba(255,255,255,1);
    border: 2px solid rgba(202,202,202,1);
}
.innertable01{
	padding: 20px;
    width: 100%;
    height: 100%;
}
.line00{
    border-collapse: collapse;
    font-family: Noto Sans;
    font-size: 35px;
    font-weight: bold;
    border-bottom: 5px solid gray;
}
.line01{
    font-size: 25px;
    padding: 25px;
}

.innerprofile{
	width: 100%;
	height: 100%;
    position: relative;
    padding: 20px;
}
.photo01{
	display: flex;
    position: relative;
    background-color: gray;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    overflow: hidden; 
    left: 85px;
    top: 50px;
}
.identity{
	font-size: 40px;
	font-weight: bold;
    position: relative;
    width: 300px;
    height: 50px;
    left: 275px;
    bottom: 75px;
    font-family: Noto Sans;
}
.class01{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 275px;
    height: 75px;
    left: 285px;
    top: 60px;
    border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 35px;
	background: rgba(91,126,217,1);
	color: white;
}
.awhite{
	color: white;
}
.change{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 35px;
    position: relative;
    width: 106px;
    height: 37px;
    left: 90px;
    bottom: 45px;
    border:1px solid gray; 
    font-family: Noto Sans;
}
.letter{
	font-size: 25px;
	font-family: Noto Sans;
    position: relative;
    width: 150px;
    height: 50px;
    left: 275px;
    bottom: 145px;
}
.mywrite{
	font-size: 25px;
	font-family: Noto Sans;
    position: relative;
    width: 150px;
    height: 50px;
    left: 435px;
    bottom: 195px;
}
.point{
	font-size: 20px;
	font-family: Noto Sans;
    position: relative;
    width: 100px;
    height: 50px;
    left: 165px;
    bottom: 185px;
}
.logout{
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
    width: 120px;
    height: 30px;
	left: 550px;
	top: 25px;
    border-radius: 35px;
    background: rgba(217,217,217,1);
    font-family: Noto Sans;
    color: rgba(255,255,255,1);
    font-size: 20px;
}
.infowrap{
	width: 100%;
	height: 600px;
}
.classboard{
	padding: 20px;
	width: 60%;
	height: 100%;
}
.classlist{
	padding: 20px;
	width: 40%;
	height: 100%;
}
.fulltable{
	width: 100%;
	height: 100%;
}
.innercb{
	padding: 40px;
    height: 400px;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.innercl{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	padding: 40px;
    height: 400px;
    background-color: rgba(248,248,248,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.innercl::-webkit-scrollbar {
    width: 10px;
  }
.innercl::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
 }
.innercl::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}
.list01{
	width: 100%;
	height: 100%;
	padding: 15px;
}
.list02{
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
.stlist{
	font-size: 50px;
}
.teamlist{
	padding: 30px;
	width: 91%;
	height: 85%; 
	background: white;
}
.list01{
	width: 100%;
	height: 100%;
	padding: 15px;
}
.list02{
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
.list03{
	font-size: 30px;
	padding: 15px;
}
.teamlisttitle{
	font-size: 40px;
	font-weight: bold;
}
