@charset "UTF-8";

.e-menu {
	color: white;
	background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
	width: 17%;
	height: 70px;
	position: absolute;
	left: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Spoqa Han Sans Neo;
	font-size: 24px;
}

.searchBar {
	width: 70%;
	height: 80px;
	position: absolute;
	right: 15%;
	top: 620px;
	font-family: Spoqa Han Sans Neo;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.e112_901 {
	width: 15%;
	height: 100%;
	font-family: Spoqa Han Sans Neo;
	font-size: 20px;
}

.e112_902 {
	width: 60%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	font-family: Spoqa Han Sans Neo;
	font-size: 20px;
	text-align: center;
}

.e112_909 {
	width: 15%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	font-family: Spoqa Han Sans Neo;
	font-size: 20px;
	text-align: center;
	border-radius: 35px;
	color: white;
	background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
}

.e112_923 {
	width: 75%;
	height: 53px;
	position: absolute;
	right: 15%;
	top: 780px;
	font-family: Spoqa Han Sans Neo;
	text-align: center;
	font-size: 20px;
	border-collapse: collapse;
}

.e112_923 thead th:first-child {
	width: 6.7%;
}

.e112_923 thead th:not(:first-child) {
	background-color: rgba(227.37499594688416, 227.37499594688416, 227.37499594688416, 1);
}

.e112_923 tbody tr td:not(:first-child) {
	height: 80px;
	border-bottom: 1px solid
		rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
}

.e112_923 tbody button {
	width: 100px;
	height: 40px;
	margin: 5px;
	border-radius: 20px;
	color: white;
	background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
}

.e112_1541 {
	width: 50%;
	height: 100px;
	position: absolute;
	left: 25%;
	top: 1800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.e112_1541 button {
	width: 7%;
	font-size: 32px;
	margin: 3%;
	color: white;
	background-color: rgba(72.00000330805779, 91.00000217556953, 166.00000530481339, 1);
}

.btn {
	position: absolute;
    top: 1680px;
    width: 70%;
    right: 15%;
    display: flex;
    justify-content: right;
}

.btn button {
    font-size: 24px;
    margin-left: 20px;
    width: 100px;
    height: 50px;
}

input[type=checkbox] {
	width: 28px;
	height: 28px;
	margin-right: 5px;
}